{% extends "base_layout.html" %}

{% block content %}
  {% if data['event_exists'] %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <h1 class="title">Details of the {{ data['event_type'] }}: {{ data['event_name'] }}</h1>
    <h2 class="subtitle">
      Event ended on {{ data['event_date'] }}
      {% if data['event_rank_matters'] %} and we finished on
        <b>{{ data['event_pos'] }}º rank</b>
        {% if data['event_dif'][0] > 0 %} (▲ {{ data['event_dif'][0] }} )
        {% elif data['event_dif'][0] < 0 %} (▼ {{ data['event_dif'][0] }} )
        {% endif %}
      {% endif %}
    </h2>

    <div class="card">
      <div class="card-header bg-secondary">
        <h3 class="card-title">Damage Distribution</h3>
      </div>

      <div class="card-body"> <!-- GRAPH AREA -->
          <canvas id="line-chart-distribution" height="100">
             <script>
                var context = document.getElementById("line-chart-distribution").getContext("2d")
                var lineChart = new Chart(context, {
                    type: "line",
                    data: {
                        labels: {{ data['distribution']['labels'] | safe }},
                        datasets: [
                            {
                                label: "Raid Damage Distribution",
                                data: {{ data['distribution']['values'] | safe }},
                                fill: true,
                                borderColor: "rgb(0, 170, 20)",
                                lineTension: 0.5,
                            },
                        ]
                    },
                    lineAtIndex: [{{ data['distribution']['user_value'] | safe }}],
                });
            </script>
          </canvas>
      </div>
    </div>

  {% endif %}
  <div class="card">
    <div class="{% if data['event_exists'] %} bg-info {% else %} bg-danger {% endif %} card-header" style="display: block">
      <div class="card-title">
          {% if data['event_exists'] %}
            <h3>Total Damage: {{ '{:,}'.format(data['event_total']) }} ({% if data['event_dif'][1] >= 0 %}+{% endif %} {{ '{:,}'.format(data['event_dif'][1]) }} )</h3>
            <p>Average Damage: {{ '{:,}'.format(data['event_avg']) }} ({% if data['event_dif'][2] >= 0 %}+{% endif %} {{ '{:,}'.format(data['event_dif'][2]) }} )</p>
          {% else %}
            <h5>Event data doesn't exists!</h5>
          {% endif %}
      </div>
      <div class="card-tools">
        <a href="/dashboard">
          <button type="button" class="btn btn-block btn-default">Return</button>
        </a>
      </div>
    </div>


  {% if data['event_exists'] %}
    <div class="card-body">
        {% for member in data['event_data'] %}
          {% if data['user_name'] == member[0] %}
            <div class="bg-success callout callout-success">
              <h5>{{ loop.index }}º {{ member[0] }} (That's you!)</h5>
          {% elif member[1] > 0 %}
            <div class="callout callout-success">
              <h5>{{ loop.index }}º {{ member[0] }}</h5>
          {% else %}
            <div class="callout callout-danger">
              <h5>{{ loop.index }}º {{ member[0] }}</h5>
          {% endif %}
              <p>Damage: {{ '{:,}'.format(member[1]) }}</p>
            </div>
        {% endfor %}
    </div>
  {% endif %}
  </div>
{% endblock %}
