{% extends "base_layout.html" %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<h1 class="title">Welcome, {{ username }}!</h1>
<h2 class="subtitle">Website in development! Please wait!</h2>

<div class="card">
    <div class="card-header bg-warning">
        <h3>Announcements</h3>
    </div>
    <div class="card-body">
        {% if announcement['exist'] %}
            <h2>{{ announcement['title'] }}</h2>
            <h4>By <b class="accented-bold-good">{{ announcement['user'] }}</b> on {{ announcement['date'] }}</h4>
            <p>{{ announcement['text'] }}</p>
        {% else %}
            <p>There are no announcements currently</p>
        {% endif %}
    </div>
</div>

<div class="card">
    <div class="card-header bg-secondary">
        <h3 class="card-title">{{ username }}'s Summary</h3>
    </div>
    <div class="card-body">
        <div class="callout callout-success">
            <h4>You joined our guild on <b class="accented-bold-good">{{ data['join_date'][0] }}</b></h4>
            <p>That's <b class="accented-bold-good"> {{ data['join_date'][1] }}</b> days ago!</p>
        </div>
        <div class="callout callout-success">
            <h4>Your Total Raid Damage is <b class="accented-bold-good">{{ '{:,}'.format(data['total_damage'][0]) }} in {{ data['raid_attendances'] }} Raids</b></h4>
            <h5>With an average Damage of <b class="accented-bold-good">{{ '{:,}'.format(data['global_avg'][0]) }}</b> per Raid!</h5>
            <p>Roughly <b class="accented-bold-good">{{ '{:,}'.format(data['daily_avg'][0]) }}</b> daily!</p>
        </div>
        <div class="callout callout-success">
            <h4>You also excavated <b class="accented-bold-good">{{ '{:,}'.format(data['total_damage'][1]) }} Damage in {{ data['mine_attendances'] }} Meteor Excavations</b></h4>
            <h5>With an average Damage of <b class="accented-bold-good">{{ '{:,}'.format(data['global_avg'][1]) }}</b> per Meteor!</h5>
            <p>Roughly <b class="accented-bold-good">{{ '{:,}'.format(data['daily_avg'][1]) }}</b> daily!</p>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header bg-secondary">
        <h3 class="card-title">{{ username }}'s Improvement</h3>
    </div>

    <div class="card-body"> <!-- GRAPH AREA -->
        <div class="row">
            <div class="col">
                <div class="bg-success callout callout-success">
                    <p>Raid Damage Progression</p>
                </div>
                <canvas id="line-chart-member-progress-raid" height="100">
                    <script>
                        var context = document.getElementById("line-chart-member-progress-raid").getContext("2d")
                        var lineChart = new Chart(context, {
                            type: "line",
                            data: {
                                labels: {{ data['progress_user']['labels'][0] | safe }},
                                datasets: [
                                    {
                                        label: "Your Damage",
                                        data: {{ data['progress_user']['values'][0] | safe }},
                                        fill: true,
                                        borderColor: "rgb(0, 170, 20)",
                                        lineTension: 0.1,
                                    },
                                    {
                                        label: "Guild's Average",
                                        data: {{ data['progress_user']['avg'][0] | safe }},
                                        borderColor: "rgb(255, 127, 0)",
                                        lineTension: 0.1,
                                    }
                                ]
                            }
                        });
                    </script>
                </canvas>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                 <div class="bg-info callout callout-info">
                    <p>Meteor Damage Progression</p>
                </div>
                <canvas id="line-chart-member-progress-meteor" height="100">
                    <script>
                        var context = document.getElementById("line-chart-member-progress-meteor").getContext("2d")
                        var lineChart = new Chart(context, {
                            type: "line",
                            data: {
                                labels: {{ data['progress_user']['labels'][1] | safe }},
                                datasets: [
                                    {
                                        label: "Your Damage",
                                        data: {{ data['progress_user']['values'][1] | safe }},
                                        fill: true,
                                        borderColor: "rgb(0, 170, 20)",
                                        lineTension: 0.1,
                                    },
                                    {
                                        label: "Guild's Average",
                                        data: {{ data['progress_user']['avg'][1] | safe }},
                                        borderColor: "rgb(255, 127, 0)",
                                        lineTension: 0.1,
                                    }
                                ]
                            }
                        });
                    </script>
                </canvas>
            </div>
        </div>
    </div>
</div>


{% endblock %}
