{% extends "base_layout.html" %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="card">
    <div class="card-header bg-info">
        <h3 class="card-title">Mining Operations / Meteor Excavation</h3>
    </div>

    <div class="card-body">
        {% if data['mine_data']%}
        {% for mine in data['mine_data'] %}
        <div class="card card-info card-outline">
            <div class="card-header" style="display: block">
                <h3 class="card-title">
                    {{ mine[7] }} ({{ mine[8] }})
                </h3>
                <div class="card-tools">
                    <a href="{{ url_for('main.detailed', event_id=mine[1]) }}">
                        <button type="button" class="btn btn-block btn-outline-primary">
                            Details
                        </button>
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="callout callout-success">
                            <h5>Total Guild Damage: {{ '{:,}'.format(mine[5]) }}</h5>
                            <p>Average Guild Damage: {{ '{:,}'.format(mine[4]) }}</p>
                        </div>
                        <div class="bg-info callout callout-info">
                            You did <b>{{ '{:,}'.format(mine[3]) }} damage</b>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <canvas id="pie-chart-mine-{{ loop.index }}" height="50">
                            <script>
                                var context = document.getElementById("pie-chart-mine-{{ loop.index }}").getContext("2d")
                                var lineChart = new Chart(context, {
                                    type: "doughnut",
                                    data: {
                                        labels: ["Guild ({{ mine[10] }}%)", "You ({{ mine[11] }}%)"],
                                        datasets: [
                                            {
                                                label: "Damage Distribution",
                                                data: [
                                                    {{ ((mine[5] - mine[3]) ) | safe  }},
                                                    {{ (mine[3]) | safe  }}
                                                ],
                                                backgroundColor: ["rgb(3, 182, 252)", "rgb(0, 170, 20)"],
                                                hoverOffset: 10,
                                            }
                                        ]
                                    }
                                });
                            </script>
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% else %}
        <!-- No Mine Data -->
        <div class="card">
            <div class="bg-warning card-header">
                <div class="card-title">
                    <h5>Oops! Looks like someone is new here! (Welcome btw!)</h5>
                </div>
            </div>

            <div class="card-body">
                <div class="callout callout-success">
                    <h5>Just keep it up and soon there will be some mining data to display here ;)</h5>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}